{
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
